.menunav{
    background-color: white;
    z-index: 1;
    padding: 25px 0 ;
    
}

.nav1{
  z-index: 2;
  padding: 0;
  color: black;

}

li > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

a:hover{
    color: #980433;
}

ul :active {
  color: #980433;
}

div a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;

}
